/* HOME PAGE ANIMATION START */

.animate-img {
    animation: moveImg 1s forwards;
}

@keyframes moveImg {
    from { left: -70%; opacity: 0; }
    to { left: 0px; opacity: 1; }
}

.animate-def {
    animation: moveDef 1s forwards;
}

@keyframes moveDef {
    from { left: 70%; opacity: 0;}
    to { left: -20px; opacity: 1;}
}

.animate-feat-card {
    animation: moveFeatCard 1s forwards;
}
.animate-feat-title {
    animation: moveFeatTitle 1s forwards;
    animation-delay: 500ms;
}
@keyframes moveFeatCard {
    from {
        translate: 0% -100%;
        opacity: 0;
    }
    to {
        translate: 0% 0%;
        opacity: 1;
    }
}
@keyframes moveFeatTitle {
    from {
        transform: translate(-100%);
        opacity: 0;
    }
    to {
        translate: 0%;
        opacity: 1;
    }
}



/* CAKE CATALOG ANIMATION START */

.animate-show-details {
    animation: showDetails 1s forwards;
}
@keyframes showDetails {
    from {
        top: 100%;
    }
    to {
        top: 0%;
    }
}

.animate-show-details-container {
    animation: showDetailsContainer 1s forwards;
}
@keyframes showDetailsContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        display: block;
    }
}

.animate-hide-details {
    animation: hideDetails 1s forwards;
}
@keyframes hideDetails {
    from {
        top: 0%;
    }
    to {
        top: 100% ;
    }
}

.animate-hide-details-container {
    animation: hideDetailsContainer 1s forwards;


}
@keyframes hideDetailsContainer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}


