/* HOME PAGE ANIMATION START */

.animate-img {
    animation: moveImg 1s forwards;
}

@keyframes moveImg {
    from { left: -70%; opacity: 0; }
    to { left: 0px; opacity: 1; }
}

.animate-def {
    animation: moveDef 1s forwards;
}

@keyframes moveDef {
    from { left: 70%; opacity: 0;}
    to { left: -20px; opacity: 1;}
}

.animate-feat-card {
    animation: moveFeatCard 1s forwards;
}
.animate-feat-title {
    animation: moveFeatTitle 1s forwards;
    animation-delay: 500ms;
}
@keyframes moveFeatCard {
    from {
        translate: 0% -100%;
        opacity: 0;
    }
    to {
        translate: 0% 0%;
        opacity: 1;
    }
}
@keyframes moveFeatTitle {
    from {
        transform: translate(-100%);
        opacity: 0;
    }
    to {
        translate: 0%;
        opacity: 1;
    }
}
