
/* @font-face {
    font-family: 'localMontserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'localLobster';
    src: url('/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



* {
    font-family: localMontserrat, sans-serif;
}

.font-localLobster {
    font-family: localLobster, serif;
} */
